<header>
  <nav>
    <div class="logo">
      <a href="#">
        <img src="../../assets/pokebola.png" alt="Logo"/>
        <span>PokeShop</span>
      </a>
    </div>
    <form class="search-form">
      <input type="text" name="descricao">
      <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <div>
      <ul class="lista">
        <li><a href="">Pokémon</a></li>
        <li>
          <a href="">
            <i class="fa-brands fa-opencart"></i>
            <span> 0</span>
          </a>
        </li>
        <li><a href="">Entrar</a></li>
      </ul>
    </div>
  </nav>
</header>
